certifi==2022.12.07
chardet==4.0.0
cryptography==3.2
enum34==1.1.6
idna==2.10
ipaddress==1.0.17
keyring==10.1
keyrings.alt==1.3
pyasn1==0.1.9
pycrypto>=2.6.1
pygobject==3.22.0
pyxdg==0.26
requests==2.31.0
SecretStorage==2.3.1
selenium==3.141.0
six==1.10.0
urllib3==1.26.17
